/* put your css changes here */

/* @import url("dark_theme.css"); */

.pages label{
    padding-right: .5em;
    font-weight: bold;
}

.pages div{
    padding-bottom: .5em;
}

.ui.breadcrumb a{
    color: #4162c4;
}
